.ChatbotIcon{
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 55px;
    height: 50px;
}
.ChatbotIcon:hover{
    cursor: pointer;
}
.ChatVisible{
    position: fixed;
    right: 80px;
    bottom: 60px;
    max-width: 120px;
    padding: 5px;
    background-color: #fa1e74;
    border-radius: 10px;
    border: none;
    color: white;
}
.ChatInvisible{
    display: none;
}