body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
@media (max-width: 500px){
    .LandingPageBodyColorHeadInvisible{
        display: none;
    }
    .LandingPageBodyTagInsibleInMobileView{
        display: none;
    }
    body .LandingPageBodyName{
        font-size: 17px;
        font-weight: bold;
    }
    body .LandingPageBodyPrize{
        font-size: 19px;
        font-size: 20px;
    }
    body .LandingPageBodyType{
        font-size: 18px;
    }
    body .AddToCardAndVisitWebsiteInnerDiv{
        width: 45%;
    }
    body .NoData img{
        max-width: 250px;
        min-width: 30px;
    }
}
.LandingPageMain{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.LandingPageBody{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 3vh;
    padding-bottom: 5vh;
    min-height:82vh;
}
@media (max-width: 900px){
    .LandingPageBody{
        flex-wrap: wrap;
    }
}
.LandingPageBodyLeft{
    width: 60ch;
    display: flex;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 20px;
}
@media (max-width: 350px){
    .LandingPageBodyLeft{
        min-width: 240px;
    }
}
.LandingPageBodyThumbVertical{
    display: flex;
    flex-direction: column;
    padding: 10px 5px 10px 0px;
    margin-bottom: 10px;
}
.LandingPageBodyThumbHorizontal{
    display: flex;
}
.LandingPageBodyThumbImages, .LandingPageBodyThumbImagesActive{
    max-width: 85px;
    min-width: 50px;
    margin: 8px;
}
.LandingPageBodyThumbImages img{
    width: 100%;
    border-radius: 5px;
    border: rgb(59, 59, 59) solid 1.5px;
}
.LandingPageBodyThumbImagesActive img{
    width: 100%;
    border-radius: 5px;
    border: #fa1e74 solid 3px;
    box-shadow: 0 0 7px rgb(255, 0, 128);
}
.LandingPageBodyImageAndColor{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.LandingPageBodyImage{
    max-width: 470px;
    min-width: 90px;
}
.LandingPageBodyIcon{
    width: 100%;
    height: 100%;
    max-height: 550px;
    border-radius: 10px; 
}
.LandingPageBodyColorHeadInvisible{
    font-size: 20px;
    margin-right: 17px;
}
.LandingPageBodyColorHead{
    font-size: 20px;
    margin-right: 17px;
}
.LandingPageBodyRight{
    width: 60ch;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}@media (max-width: 350px){
    .LandingPageBodyRight{
        min-width: 240px;
    }
}
.LandingPageBodyRightHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.LandingPageBodyName{
    font-size: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 400;
}
.LandingPageBodyType{
    font-size: 22px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 300;
}
.LandingPageBodyPrize{
    display: flex;
    min-width: 190px;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}
@media (max-width: 500px){
    .LandingPageBodyPrize{
        flex-direction: column-reverse;
        min-width: 100px;
        max-width: 120px;
    }
}
.LandingPageBodyPrizeNew{
    min-width: 100px;
    text-align: center;
    font-size: 20px;
    color: #fa1e74;
    font-weight: bolder;
}
.LandingPageBodyPrizeOld{
    min-width: 80px;
    text-align: center;
    font-size: 14px;
    color: #747474;
    align-items: center;
    padding-left: 1px;
    padding-top: 5px;
    text-decoration: line-through;
}
.LandingPageBodyRatingMobile, .LandingPageBodyRatingWeb{
    padding-top: 8px;
    padding-bottom: 8px;
    width: 110px;
    display: flex;
    justify-content: space-between;
}
@media (min-width: 500px){
    .LandingPageBodyRatingMobile{
        display: none;
    }
}
@media (max-width: 500px){
    .LandingPageBodyRatingWeb{
        display: none;
    }
}
.LandingPageBodyRatingMobile .checked, .LandingPageBodyRatingWeb .checked{
    color: #fa1e74;
}
.LandingPageBodyRatingMobile .unchecked, .LandingPageBodyRatingWeb .unchecked{
    color: rgb(184, 182, 182);
}
.LandingPageBodyDiscription{
    margin-top: 8px;
    margin-bottom: 8px;
    color: #a0a0a0;
}
.LandingPageBodyGeneralQuestion{
    margin-top: 5px;
    margin-bottom: 5px;
}
.LandingPageBodyGeneralQuestion span{
    font-weight: 500;
}
.LandingPageBodyTag{
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
}
.LandingPageBodyTagMap{
    background-color: #626262;
    font-size: 14px;
    color: white;
    text-align: center;
    width: auto;
    padding: 2px 12px 2px 12px;
    margin: 4px 20px 4px 0px;
    height: auto;
    max-height: 100px;
    border-radius: 60px;
}
.LandingPageBodySizeHead{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 22px;
}
.LandingPageBodySize{
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
}
.LandingPageBodySizeMap{
    width: 43px;
    height: 43px;
    border-radius: 50%;
    border: none;
    background-color: #dedede;
    margin-right: 15px;
    font-size: 20px;
    color: rgb(54, 56, 55);
}
.LandingPageBodySizeMapActive{
    width: 43px;
    height: 43px;
    border-radius: 50%;
    border: none;
    background-color: #fa1e74;
    margin-right: 15px;
    font-size: 20px;
    color: white;
}
.LandingPageBodySizeMap:hover{
    background-color: #fa1e74;
    color: white;
    cursor: pointer;
}
.LandingPageBodySizeOptions{
    margin-left: 10px;
    padding: 6px;
}
.LandingPageBodySizeOptionsMap{
    font-size: 22px;
}
.LandingPageBodySizeUnderlineMap{
    width: 43px;
    height: 2px;
    border-radius: 10%;
    border: none;
    background-color: none;
    margin-right: 15px;
    margin-top: 15px;
}
.LandingPageBodySizeUnderlineMapActive{
    width: 43px;
    height: 3px;
    border-radius: 10%;
    border: none;
    background-color: #fa1e74;
    margin-right: 15px;
    margin-top: 15px;
}
@media (max-width: 500px){
    .LandingPageBodySizeMapActive, .LandingPageBodySizeMap{
        width: 35px;
        height: 35px;
        margin-right: 10px;
    }
    .LandingPageBodySizeUnderlineMapActive, .LandingPageBodySizeUnderlineMap{
        width: 35px;
        height: 3px;
        margin-right: 10px;
    }
}
.AddToCardAndVisitWebsite{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}
.LandingPageBodyAddToCard{
    max-width: 500px;
    min-width: 160px;
    height: 40px;
    text-align: center;
    font-size: 15px;
    border-radius: 8px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #fa1e74;
    color: white;
}
.LandingPageBodyVisitWebsite{
    max-width: 500px;
    min-width: 140px;
    height: 40px;
    text-align: center;
    font-size: 15px;
    border-radius: 8px;
    border: black solid 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
}
@media (max-width : 500px){
    .AddToCardAndVisitWebsite{
        justify-content: space-between;
    }
    .LandingPageBodyAddToCard, .LandingPageBodyVisitWebsite{
        margin: 0%;
        width: 100%;
    }
}
@media (max-width: 350px){
    body .LandingPageBodyAddToCard, .LandingPageBodyVisitWebsite{
        font-size: 12px;
        min-width: 80px;
    }
}
.AddToCardAndVisitWebsiteInnerDiv{
    width: 40%;
}
.LandingPageBodyAddToCard:hover{
    border: none;
    cursor: pointer;
}
.LandingPageBodyVisitWebsite:hover{
    border: none;
    background-color: #fa1e74;
    color: white;
    cursor: pointer;
}
.Flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.Loading, .NoData{
    font-size: large;
    font-weight: 500;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}
.Loading img{
    max-width: 60px;
    min-width: 30px;
}
.NoData img{
    max-width: 320px;
    min-width: 30px;
}